<html wasmanifest="/todo.appcache">
<head>
    <meta charset="utf-8"/>
    <title>Swarm+React • TodoMVC</title>
    <style>
        $CSS
    </style>
</head>
<body>
    <div id='todoapp'>
        $VIEW
    </div>
    <a id='self' target='page'></a>
    <span class='help'>
        Up/Down: change item,
        Tab: child list,
        Esc: parent list,
        Insert: toggle item,
        Enter/Numpad plus: new item,
        Numpad minus: delete item
    </span>
    <span class="golink">
        <a href='http://github.com/gritzko/swarm'>github</a><br/>
        <a href='http://github.com/gritzko/todomvc-swarm'>swarm</a><br/>
        <a href='http://swarmjs.github.io'>blog</a>
    </span>
    <script src="$REACT"></script>
    <script src="http://localhost:8080/vendor.bundle.js"></script>
    <script src="http://localhost:8080/app.bundle.js"></script>
    <script src="http://localhost:8080/dev.bundle.js"></script>
    <script src="/fake_auth_init.js"></script>

    <!-- This script adds the GoogleFonts Roboto font to our project. -->
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Roboto:400,500,300:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        wf.onerror = function(err) {
          var of = document.createElement("link");
          of.href = '/css/fonts-offline.css';
          of.rel = 'stylesheet';
          of.type = 'text/css';
          var s = document.getElementsByTagName('style')[0];
          s.parentNode.insertBefore(of, s);
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
</body>
</html>
